.cards_dashboard{
    width: 100%;
    height: auto;
    display: inline-block;
    background: #fff;
    padding: 10px;
}
.cards{
    width: 100%;
    height: 100px;
    border-radius: 5px;
    background: #6d6dc9;
    display: inline-block;
}
.cards_lft, .cards_img{
    // width: 100%;
    height: 100%;
}

.cards_content{
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    font-family: Montserrat;
    margin: 0px;
    opacity: 0.7;
}
.amout_content{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    font-family: Montserrat;
    margin: 0px;
    opacity: 0.8;

  
}
.container_list_card>span{
    color: #fff;
    font-size: 8px;
    font-weight: 400;
    font-family: Montserrat;
    margin-bottom: 10px;
    opacity: 0.7;
    display: block;
}
.container_list_card{
    width: 100%;
    height: 100%;
    margin-top: 15px;
    padding: 5px;

}

.nav-tabs>li.active>a, .nav-tabs>li>a:hover{
    border: none !important;
    border-bottom: 2px solid #6d6dc9 !important;
    color: #6d6dc9 !important;
    font-size: 10px;
    font-weight: 600;
    font-family: Montserrat;
    text-decoration: none;
    background-color: transparent !important;
}
.nav-tabs>li{
    float: left;
     margin-bottom: 0px !important; 
}
.nav-tabs>li>a{
    color: #4a4a4a !important;
    font-size: 10px;
    font-weight: 600;
    font-family: Montserrat;
    background: #fff !important;
    border: none !important;
}
.dashboard_table{
    display: table !important;
}
.dashboard_table>thead>tr>th>label{
    font-size: 9px;
    font-weight: 600;
    font-family: Montserrat;
    color: #4a4a4a;
    text-align: left;
}
.dashboard_table>tbody>tr>td>label{
    font-size: 9px;
    font-weight: 500;
    font-family: Montserrat;
    color: #8b8b8b;
    text-align: left;
}
.dashboard_table>thead{
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.dashboard_table>tbody>tr>td{
    border: 1px solid #ddd;
    padding: 5px !important; 
}
.dashboard_table>tbody>tr :nth-child(1){
    border-left: none !important;
}
.dashboard_table>tbody>tr :last-child{
    border-right: none !important;
}
.dashboard_table>thead>tr>th
{
    border-bottom: none !important;
}
.table_container{
    width: 100%;
    height: auto;
}
.table_container>table>tbody{
    width: 100%;
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}
.dropdown_img{
    height: 15px;
    width: 15px;
    cursor: pointer;
}
.dropdown_table>li>span{
    font-family: Montserrat;
    font-size: 9px;
    font-weight: 700;
    color: #4a4a4a;
    /* padding: 5px !important; */

}
.dropdown-menu{
    right: 0 !important;
    left: auto !important;
    padding: 5px !important;
}
.dropdown_table :nth-child(1){
    width: 100%;
    padding: 0px;
    text-align: left;
    margin: 0px;
}
.dropdown_table>li{
    text-align: center;
    /* padding: 0px !important; */
    margin-top: 10px;
}
.pad-lft-0{
    padding-left: 0px !important;
}
.pad-rgt-0{
    padding-right: 0px !important;
}
.months_list{
    width: 100%;
    height: auto;
    display: block;
}
.months_list>ul>li>button{
    font-family: Montserrat;
    font-size: 9px;
    font-weight: 700;
    color: #6d6dc9;
    background: #fff;
    border: 1px solid #6d6dc9;
    border-radius: 100px;
    width: 102px;
    height: 25px;
    margin-bottom: 10px;
    transition: 0.3s;
}
.months_list>ul>li>button:hover{
    font-family: Montserrat;
    font-size: 9px;
    font-weight: 700;
    color: #fff;
    background: #6d6dc9;
      transition: 0.5s;

}
.table_heading{
    width: 100%;
    height: auto;
    display: block;
}
.table_heading>label{
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 600;

}
.container_table_content{
    display: block;
    height: 45vh;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

.round {
    width: 15%;
    float: left;
  position: relative;
}

.round label {
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 5px;
    left: 4px;
    opacity: 0;
    position: absolute;
    top: 6px;
    transform: rotate(-45deg);
    width: 10px;
}
.round label:before {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 5px;
    left: 4px;
    opacity: 0;
    position: absolute;
    top: 6px;
    transform: rotate(-45deg);
    width: 10px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #6d6dc9;
  border-color: #6d6dc9;
}
.round input[type="checkbox"]:not(:checked) + label {
  background-color: #e5e5e5;
  border-color: #e5e5e5;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
.round input[type="checkbox"]:not(:checked) + label:before {
  opacity: 1;
}
.products_list>li{
   width: 100%;
   height: auto;
   display: inline-block;
   margin-bottom: 10px;
}
.product_text{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
    /* float: right; */
    white-space: normal;
    word-spacing: 3px;
    width: 60%;
}
.m-top-45{
    margin-top: 45px;
}
.m-top-25{
    margin-top: 25px;
}
.frequency_list{
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}