<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Supplymint-Master</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/master.css">
    <script src="js/master.js"></script>
  </head>
  <body>

<!--Navbar Start hear-->

          <nav class="navbar Rectangle-5">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand " href="#"><img class="logo1"src="img/logo1.svg" alt="logo not found"></a>

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>

              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <img src="img/hamburger.svg" class="hamburger" alt="not found">

                <ul class="nav navbar-nav navbar-right">

                  <li><form class="navbar-form navbar-right" role="search">
                    <input type="text" class=" SEARCH" placeholder="SEARCH">&nbsp;<img src="img/group.svg"class="Group" alt="not found">
                </form></li>

                  <li><a href="#"><img src="img/bell.svg"class="bell" alt="not found"></a></li>

                  <li class="dropdown">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      <img src="img/profile.png"srcset="img/profile@2x.png 2x,img/profile@3x.png 3x" class="profile"><para>&nbsp;KRITIKA SINGH</para>&nbsp;&nbsp;<img src="img/fill-213.svg" class="fill-213" alt=""></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Profile</a></li>
                      <li><a href="#">Setting</a></li>
                      <li><a href="#">Log Out</a></li>

                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

<!--Navbar end hear-->

<!--Main Body Start hear-->

        <div class="Rectangle-12">
            <para class="Home">Home&nbsp;&gt;&nbsp;Master</para>
            <para class="oval"><button type="button" class="btn "name="button"><p class="path">&#8630;</p></button></para>
          <div class=" Rectangle-13">
            <para class="MASTER-V-MART">MASTER V-MART<span class="MRP-text">(MRP_CONTRIBUTION)</span></para><br>
            <para class="Manage-Master-Data">Manage Master Data</para>
            <para class="oval">
            <img src="img/add.svg"class="add"></para>
            <br><br>
            <p class="Choose-Master">Choose Master</p>
            <div class="card">
              <div class="dropdown">
                <para class="MRP_CONTRIBUTION">MRP_CONTRIBUTION</para>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <img src="img/fill-213.svg" class="fill-213" alt=""></a>
                <ul class="dropdown-menu">
                  <li><a href="#">x</a></li>
                  <li><a href="#">y</a></li>
                  <li><a href="#">z</a></li>
                </ul>
              </div>
            </div><br>
            <p class="Export-Data">Export Data </p>
            <button type="button" class="CSV" name="button"><span class="button-text">CSV</span></button>
            <button type="button" class="XLS" name="button"><span class="button-text">XLS</span></button>
            <button type="button" class="FILTER" name="button"><span class="filter">FILTER</span>&nbsp;<img src="img/filter-2.svg" class="filter2"></button>
            <form class="search-bar" method="post">
              <input type="search" class="Line-5" name="search" placeholder="search" ><img src="img/search.svg" class="search">

            </form>
            <div class="table">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <td><para class="head-text">ARTICLE CODE</para></td>
                    <td><para class="head-text">MRP(INR)</para></td>
                    <td><para class="head-text">CONTRIBUTION</para></td>
                    <td><para class="head-text">ACTION</para></td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>ART00007568</td>
                    <td>20,000</td>
                    <td>xyz</td>
                    <td>
                      <button type="button" class="EDIT" name="button"><span class="button-text1"style="color: #8b8b8b;">EDIT</span></button>
                      <button type="button" class="DELETE" name="button"><span class="button-text1" style="color: #d0021b;">DELETE</span></button>
                      <button type="button" class="SAVE" name="button"><span class="button-text1" style="color: #ffffff;">SAVE</span></button>
                    </td>
                  </tr>
                  <tr>
                    <td>ART00007568</td>
                    <td>16,000</td>
                    <td>xyz</td>
                    <td>
                      <button type="button" class="EDIT" name="button"><span class="button-text1"style="color: #8b8b8b;">EDIT</span></button>
                      <button type="button" class="DELETE" name="button"><span class="button-text1" style="color: #d0021b;">DELETE</span></button>
                      <button type="button" class="SAVE" name="button"><span class="button-text1" style="color: #ffffff;">SAVE</span></button>
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>

              </table>

            </div>
              <select class="selectpicker">
                <option title="Combo 1">1</option>
                <option title="Combo 2">2</option>
                <option title="Combo 3">3</option>
              </select>

          </div><br>
          <footer>
            <div class="foot-text">
              <para class="PRIVACY-POLICY-TER">PRIVACY POLICY | TERMS OF USE</para><para class="copyright">COPYRIGHT @SUPPLYMINT</para>
            </div>
          </footer>
        </div>

<!--Main Body end hear-->

  </body>
</html>
