.right_sidebar{
        position: fixed;
       right: 0;
        z-index: 1;
        width: 255px;
        height: 90vh;
        top: 85px;
        background-color: #fdfdfd;
        box-shadow: 0 2px 5px 0 rgba(195, 195, 195, 0.5);
}
    .rightsideclose{
        width: 72px;
        height: 24.5px;
        border-radius: 12.3px;
        background-color: #6d6dc9;
        font-family: Montserrat;
        font-size: 11px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;

    }
    .para_right_menu{
        font-family: Montserrat;
        font-size: 10px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #606060;
    }
    .right_menu_head{
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
    }
    .content_goes{
        font-family: Montserrat;
        font-size: 10px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #606060;
    }