<html>

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title></title>
        <link rel="stylesheet" type="text/css" href="main.css" />
        <link rel="stylesheet" type="text/css" href="home.css" />
        <link rel="stylesheet" type="text/css" href="rightsidebar.css" />
        <link rel="stylesheet" type="text/css" href="vendor_manage.css" />
        <link rel="stylesheet" type="text/css" href="signin.css" />
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>


    <body>
        <div class="container-fluid pad-0">
            <div class="noise_background">
                <div class="col-md-12 col-sm-12 pad-0">
                    <div class="col-md-3 col-sm-12 pad-0">
                        <div class="left_side_container">
                            <div class="col-md-12 col-sm-12 pad-0">
                                <div class="top_container">
                                    <div class="col-md-12 col-sm-12 pad-0">
                                        <ul class="list-inline m-lft-15">
                                            <li>
                                                <img src="../imgs/back.svg" class="back_icon"/>
                                            </li>
                                            <li>
                                                <label class="back_home">
                                                    Return Home
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-6 m-top-50 pad-0">
                                    <div class="middle_container">
                                        <div class="col-md-12 col-sm-12 pad-0 m-top-60">
                                            <ul class="list-inline m-top-20">
                                                <li>
                                                    <h4 class="signin">
                                                        SIGNIN
                                                    </h4>
                                                </li>
                                                <li>
                                                    <input class="input_box m-top-20" type="text" placeholder="USERNAME" />

                                                </li>
                                                <li>
                                                    <input class="input_box m-top-20" type="text" placeholder="PASSWORD" />

                                                </li>
                                                <li>
                                                    <p class="forgot_pass">
                                                    Forgot Password?
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-12 col-sm-12 pad-0 m-top-35">
                                            <div class="oval">
                                                <i class="fa fa-angle-left oval_icon"></i>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 pad-0 m-top-100">
                                            <button class="signin_btn">
                                                SIGN IN
                                            </button>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="col-md-12 col-sm-12 pad-0">
                                    <div class="bottom_position">
                                        <ul class="pad-0">
                                            <li>
                                                <p>
                                                    COPYRIGHT 2017-18
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    SUPPLYMINT
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-9 col-sm-12 pad-0">
                        <div class="right_side_container">
                            <div class="col-md-12 colsm-12 pad-0 m-top-50">
                                <div class="supply_mint_logo_div">
                                    <div class="supply_mint_logo">
                                        <img src="../imgs/logo.svg" class="mint_logo"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 pad-0">
                                <div class="path_img">
                                    <img src="../imgs/path-dotted.svg" />
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 m-top-5">
                                <div class="content_sigin">
                                    <ul class="list-inline text-center">
                                        <li>
                                            <p>
                                                Lorem ipsum dolor sit amet, </br>
                                                consectetur adipiscing elit, sed do eiusmod tempor 
                                                incididunt ut labore et dolore magna aliqua
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                                Lacus sed viverra tellus in hac habitasse platea. Dapibus ultrices in iaculis nunc. 
                                                Justo eget magna fermentum iaculis eu non diam phasellus. 
                                                Pellentesque pulvinar pellentesque habitant morbi tristique senectus et netus.
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 pad-0 m-top-10">
                                <div class="flow_diagram_div">
                                    <img src="../imgs/illustrations.svg" class="illustration_img" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>